---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="About me">
  <Main bgColor="#f2e8de">
    <div class="flex flex-col justify-center px-12 md:px-32 p-40">
      <h1 class="text-black py-3 flex flex-col">
        <span class="font-bold text-3xl">Who</span>
        <span class="font-bold text-3xl sm:text-5xl font-recife"
          >is Andrew?</span
        >
      </h1>

      <p class="ml-0 sm:ml-[6vw] xl:ml-[8vw] text-black font-medium font-sans">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
        <br />
        <!-- <br /> -->
      </p>
    </div>
  </Main>
</Container>
