---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="About me">
  <Main bgColor="#f2e8de">
    <div
      class="flex flex-col justify-center p-6 sm:px-30 md:px-16 xl:px-30 flex-shrink overflow-y-auto"
    >
      <h1 class="text-black py-3 flex flex-col">
        <span class="font-bold text-3xl">who</span>
        <span class="font-bold text-3xl sm:text-5xl font-recife">am i?</span>
      </h1>

      <span class="pb-3"
        ><button class="btn text-xl sm:text-lg font-recife w-full sm:w-min"
          ><a href="https://www.linkedin.com/in/andrew-huynh-/" target="_blank"
            >Contact</a
          ></button
        ></span
      >
      <div class="overflow-y-auto">
        <p
          class="ml-0 sm:ml-[6vw] md:ml-[12vw] xl:ml-[8vw] text-black font-medium font-sans"
        >
          My name is Andrew! I am <span class="font-jet"
            >fullstack developer</span
          > based in Toronto Canada. I love building good products and applications
          by approaching solutions through simple means with code.
          <br />
          <br />
        </p>

        <p
          class="ml-0 sm:ml-[6vw] md:ml-[12vw] xl:ml-[8vw] text-black font-medium font-sans"
        >
          Beyond work I like to go take photos and the vision is trying to
          capture the abstract things on the streets of Toronto.
          <br />
          <br />
        </p>

        <p
          class="ml-0 sm:ml-[6vw] md:ml-[12vw] xl:ml-[8vw] text-black font-medium font-sans"
        >
          Im currently a <span class="font-jet"
            >Fullstack Software Engineer</span
          >
          over at Apollo utilising various <span class="font-jet"
            >AWS tools</span
          >
          and solutions. Contributing and solving various problems in and around
          our system. Where I was initially building out both of our customer facing
          <span class="font-jet">platforms</span> pre and post purchase. Now mainly
          focusing on the <span class="font-jet">backend</span> of our applications
          with major initiatives to <span class="font-jet">retain</span> customers
          by improving their <span class="font-jet">experience</span> and
          <span class="font-jet">automating</span> internal business applications.
          <br />
          <br />
        </p>
      </div>
    </div>
  </Main>
</Container>
