---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="Andrew Huynh">
  <Main>
    <div
      class="container flex flex-col w-auto font-recife self-end overflow-hidden gap-4 py-3"
    >
      <p>Three words</p>
      <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Create,</h1>
      <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Develop,</h1>
      <span class="flex flex-row">
        <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Shoot</h1>
        <div class="flex flex-grow-0 justify-center px-3 animate-reverse-spin">
          <img
            src={"/images/Star.svg"}
            alt={"star"}
            class="object-contain w-[16cqw] sm:w-[6cqw]"
          />
        </div>
      </span>
    </div>
  </Main>
</Container>

<!-- class="animate-reverse-spin" -->
