---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="Andrew Huynh">
  <Main bgColor="#da3931">
    <div class="flex flex-col w-auto font-recife self-end gap-4 p-3 te">
      <p class="font-jet italic text-white text-xs">
        Through dedication and organising, I strive to
      </p>
      <h1 class="text-[16cqw] text-[#ff9cc6] leading-none md:text-[9cqw]">
        Create,
      </h1>
      <h1 class="text-[16cqw] text-[#ff9cc6] leading-none md:text-[9cqw]">
        Design,
      </h1>
      <div class="flex flex-row">
        <h1 class="text-[16cqw] leading-none md:text-[9cqw] text-[#ff9cc6]">
          Develop
        </h1>
        <div class="flex justify-center px-6">
          <img
            src={"/images/Star.svg"}
            alt={"star"}
            class="w-[16cqw] md:w-[9cqw] animate-reverse-spin"
            width="128px"
            height="128px"
          />
        </div>
      </div>
    </div>
  </Main>
</Container>
