---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="Andrew Huynh">
  <Main>
    <div
      class="container flex flex-col w-auto font-recife self-end overflow-hidden gap-4 py-3 te"
    >
      <p class="font-jet italic text-white">Creativity into form, I</p>
      <h1 class="text-[16cqw] text-[#ff9cc6] leading-none md:text-[9cqw]">
        Shape,
      </h1>
      <h1 class="text-[16cqw] text-[#ff9cc6] leading-none md:text-[9cqw]">
        Capture,
      </h1>
      <span class="flex flex-row">
        <h1 class="text-[16cqw] leading-none md:text-[9cqw] text-[#ff9cc6]">
          Develop
        </h1>
        <div class="flex justify-center px-9">
          <img
            src={"/images/Star.svg"}
            alt={"star"}
            class="w-[16cqw] md:w-[9cqw] animate-reverse-spin"
          />
        </div>
      </span>
    </div>
  </Main>
</Container>
