---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="Andrew Huynh">
  <Main>
    <div
      class="container flex flex-col w-auto font-recife self-end overflow-hidden gap-4 py-3"
    >
      <p class="font-jet">seomthing here</p>
      <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Create,</h1>
      <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Develop,</h1>
      <span class="flex flex-row">
        <h1 class="text-[16cqw] leading-none md:text-[9cqw]">Shoot</h1>
        <div class="flex justify-center px-3">
          <img
            src={"/images/Star.svg"}
            alt={"star"}
            class="w-[16cqw] md:w-[8cqw] animate-reverse-spin"
          />
        </div>
      </span>
    </div>
  </Main>
</Container>
