---
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Container title="About me">
  <Main bgColor="#f2e8de">
    <div
      class="flex flex-col justify-center p-6 sm:px-30 md:px-16 xl:px-30 flex-shrink overflow-y-auto"
    >
      <h1 class="text-black py-3 flex flex-col">
        <span class="text-3xl font-extrabold">in</span>
        <span class="font-bold text-3xl sm:text-5xl font-recife">progress.</span
        >
      </h1>
    </div>
  </Main>
</Container>
