---
import Navigation from "./Navigation.astro";

const { bgColor, fullScreen } = Astro.props;
---

<div class="w-screen h-screen flex">
  <div class=`flex flex-col bg-[${bgColor}] w-screen lg:w-1/2 min-h-screen`>
    <div class="">
      <Navigation />
    </div>
    <div class="flex h-full w-full overflow-hidden">
      <slot />
    </div>
  </div>
  <!-- <div
    class="z-10 w-1/2 bg-cover bg-no-repeat bg-red-arm lg:flex 2xl:bg-repeat 2xl:bg-auto hidden"
  > -->
</div>

<style is:global>
  @font-face {
    font-family: "RecifeDisplay-Regular";
    src: url("/fonts/RecifeDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrainsMono-Medium";
    src: url("/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<!-- bg-[#da3931]  -->
