---
import Navigation from "./Navigation.astro";
---

<div class="bg-slate-900 w-screen h-screen flex">
  <div class="flex flex-col bg-slate-800 w-screen lg:w-1/2 min-h-screen">
    <div class="">
      <Navigation />
    </div>
    <div id="fsd" class="flex px-6 h-full">
      <slot />
    </div>
  </div>
  <!-- <div class="w-1/2 bg-gradient-to-t from-red-500 to-indigo-600">
    background probably
  </div> -->
</div>

<style is:global>
  @font-face {
    font-family: "RecifeDisplay-Regular";
    src: url("/fonts/RecifeDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
