---
import Navigation from "./Navigation.astro";
---

<div class="flex bg-slate-900 w-screen h-screen">
  <div class="bg-slate-800 w-screen md:w-1/2">
    <Navigation />
    <div class="px-6">
      <slot />
    </div>
  </div>
</div>
