---
import Burger from "../components/Burger.astro";
---

<div>
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

  <nav class="flex w-auto p-3 flex-row justify-between align-middle">
    <p class="self-center">ANDREW HUYNH</p>
    <div class="hidden flex-row justify-around gap-x-8 md:flex self-center ">
      <button>About me</button>
      <button>Experience</button>
      <button>Projects</button>
    </div>
    <div class="flex md:hidden">
      <label class="btn btn-square" for="my-drawer-4" class="w-auto"
        ><Burger /></label
      >
    </div>
  </nav>

  <div class="drawer-side flex">
    <div class="menu p-3 w-full min-h-full bg-base-200">
      <label class="btn btn-square self-end" for="my-drawer-4" class="w-auto"
        ><Burger /></label
      >
      <ul>
        <!-- Sidebar content here -->
        <li><a> About me</a></li>
        <li><a> Experience</a></li>
        <li><a> Projects</a></li>
      </ul>
    </div>
  </div>
</div>
