---
import Burger from "../components/Burger.astro";
---

<div>
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

  <nav
    class="font-jet flex w-auto p-3 flex-row justify-between align-middle uppercase"
  >
    <!-- find css to make your name style highlighted like a pdf highlighter -->
    <p class="self-center text-black">
      > <a class="underline" href="/"> ANDREWHUYNH </a>
    </p>
    <div
      class="hidden flex-row justify-around gap-x-8 md:flex self-center text-xs font-bold"
    >
      <button class="uppercase hover:underline text-black"
        ><a href="about">About me</a></button
      >
      <button class="uppercase hover:underline text-black"
        ><a href="experience">Experience</a></button
      >
      <button class="uppercase hover:underline text-black"
        ><a href="projects">Projects</a></button
      >
      <button class="uppercase hover:underline text-black"
        ><a href="projects">Photos</a></button
      >
    </div>
    <div class="flex md:hidden">
      <label
        class="btn btn-square btn-ghost text-black"
        for="my-drawer-4"
        class="w-auto"><Burger /></label
      >
    </div>
  </nav>

  <div class="drawer-side drawer-end z-10">
    <div
      class="menu p-3 w-screen min-h-full flex flex-col text-center bg-[#da3931]"
    >
      <label
        class="btn btn-square btn-ghost self-end text-black"
        for="my-drawer-4"><Burger /></label
      >

      <div
        class="font-sans uppercase gap-20 flex flex-1 flex-col place-self-center justify-center"
      >
        <!-- Sidebar content here -->
        <a href="/about" class="flex flex-row w-full text-white">
          <p class="text-xs leading-[0.5] font-bold">01</p>
          <p
            class="text-5xl pl-3 text-[#da3931]"
            style="-webkit-text-stroke: 1px #fff"
          >
            About me
          </p>
        </a>
        <a href="/experience" class="flex flex-row w-full text-white">
          <p class="text-xs leading-[0.5] font-bold">02</p>
          <p
            class="text-5xl pl-3 text-[#da3931]"
            style="-webkit-text-stroke: 1px #fff"
          >
            Experience
          </p>
        </a>
        <a href="/projects" class="flex flex-row w-full text-white">
          <p class="text-xs leading-[0.5] font-bold">03</p>
          <p
            class="text-5xl pl-3 text-[#da3931]"
            style="-webkit-text-stroke: 1px #fff"
          >
            Projects
          </p>
        </a>
        <a href="/projects" class="flex flex-row w-full text-white">
          <p class="text-xs leading-[0.5] font-bold">04</p>
          <p
            class="text-5xl pl-3 text-[#da3931]"
            style="-webkit-text-stroke: 1px #fff"
          >
            Photos
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
